<mat-card>
	<mat-card-title>Lista de Cursos</mat-card-title>
	<!-- o " | async as " é utilizado para se inscrever no observable dadosDaTabela$ e fazer o preenchimento dos dados vindos da API-->
	<div *ngIf="dadosDaTabela$ | async as dadosDaTabela; else loading">
		<mat-table [dataSource]="dadosDaTabela" class="mat-elevation-z8">
			
			<!-- Course Name Column -->
			<!-- rotulosDaTabela[0] pega o rótulo no índice 0 da lista de rotulos da tabela	-->
			<ng-container matColumnDef="{{ rotulosDaTabela[0] }}">
				<!-- mat-header-cell define o rótulo de cada coluna	-->
				<mat-header-cell class="rotulo-tabela" mat-header-cell *matHeaderCellDef> Cursos</mat-header-cell>
				<!-- mat-cell define uma célula da coluna 	-->
				<!-- *matCellDef recebe um objeto do mesmo tipo dos dados contidos no [dataSource], no presente caso daddosDaTabela: Course 	-->
				<mat-cell *matCellDef="let course"> {{ course.name }} </mat-cell>
			</ng-container>
			
			<!-- Category Column -->
			<ng-container matColumnDef="{{ rotulosDaTabela[1] }}">
				<mat-header-cell class="rotulo-tabela" mat-header-cell *matHeaderCellDef> Categoria</mat-header-cell>
				<mat-cell *matCellDef="let course"> {{course.category}}
					<!-- exibe os icones conforme definido no pipe "category" -->
					<mat-icon aria-hidden="false" aria-label="Categoria do Curso">{{ course.category | category }}</mat-icon>
				</mat-cell>
			</ng-container>
			
			<!-- matHeaderRowDef recebe a lista de rótulos da tabela e é quem dita a ordem em que eles devem aparecer 	-->
			<mat-header-row *matHeaderRowDef="rotulosDaTabela"></mat-header-row>
			<!-- o objeto "row" pode ser passado como parametro para um metodo qualquer e é feito o cast para o tipo de parametro indicado na assiantura do metodo-->
			<mat-row *matRowDef="let linhaDaTabela; columns: rotulosDaTabela;" (click)="exibeLinhaClicada(linhaDaTabela)"></mat-row>
		</mat-table>
		<p id="legendaTabela" class="legenda-tabela">Dados atualizados em: {{ dataHoraAtualizacaoDados | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
	</div>
	<!-- o template só é exibido enquanto estiver aguardando o preenchimento dos dados-->
	<ng-template #loading>
		<div class="loading-spinner">
			<!-- exibe o spinner -->
			<mat-spinner></mat-spinner>
		</div>
	</ng-template>
</mat-card>
